.container-tabuleiros {
    background-color: white;
    width: 60vw;
    max-width: 60vw;
    padding-top: 2vh;
    border-radius: 10px;
    margin: auto;
    padding: auto;
}

.container-tabuleiros-element {
    display: flex;
    margin-top: 2vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}