.fundo-entrar {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;  
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../public/assets/fundo_entrar_enc_vn.png');
    margin: 0;
}

.fundo-frente-entrar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    max-width: 100vw;
    height: 100vh;  
    max-height: 100vh;
}

.titulo-wrapper {
    padding: 50px 20px;
}
.titulo-wrapper h1 {
    margin: 0;
    color: #f4900c;
    font-family: 'Bungee';
    text-align: center;
    text-shadow: 0px 2px rgb(80, 80, 80);
}

.subtitulo {
    margin: 0;
    font-family: 'Bungee';
    text-align: center;
}